<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusionplayer.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android TV: touchscreen não é obrigatório -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- Android TV: declara suporte à interface Leanback -->
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/tv_banner"
        android:label="Fusion Player"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">

            <!-- Launcher normal (celular / tablet) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Launcher Android TV -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
